{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Bienvenido {{ user.username }}!</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesi&oacute;n</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Iniciar Sesi&oacute;n</a></li>
</ul>

{% endif %}
